.input {
    outline: 0;
    border: 1px solid #F0F0F0;
    border-radius: 2px;
    color: #F0F0F0;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    padding: 14px;
    background: transparent;

}